src/main/mule/dataweave-2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ad55563e-d37a-431e-bc9e-bf2e11a30e22" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="d47ea992-5a24-4526-aaea-bba645a3524e" >
		<file:connection workingDir="C:\Users\vboga\OneDrive\Desktop" />
	</file:config>
	<flow name="dataweave-2Flow" doc:id="af3c735a-6a53-40bd-a4bd-84690e4080f9" >
		<http:listener doc:name="Listener" doc:id="bb76a97f-46c5-4a25-b623-1eef0127967c" config-ref="HTTP_Listener_config" path="/file"/>
		<file:read doc:name="Read" doc:id="a2f62897-0080-4220-aff9-062495200e93" path="C:\Users\vboga\OneDrive\Desktop\read.csv" config-ref="File_Config"/>
		<foreach doc:name="For Each" doc:id="f4c2f564-ecea-4e43-b3cc-b719e83b98cd" >
			<ee:transform doc:name="Transform Message" doc:id="d5ee99e6-1968-4c36-9b23-a183579f8535" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	firstName: payload.firstName,
	lastName: payload.lastName,
	age: payload.age,
	Contact: payload.phone,
	Email: payload.email,
	Address: payload.address
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<file:write doc:name="Write" doc:id="9dc623fd-763c-45d2-84b4-af11b2b5a8bc" path="C:\Users\vboga\OneDrive\Documents\Dataweave\output.json" mode="APPEND" config-ref="File_Config"/>
		</foreach>
	</flow>
</mule>
